.calculator {
    /* text-align: center; */
    background: grey;
    width: 400px;
    height: 400px;
    padding: 50px 50px 50px 50px;
    margin: 200px 200px 200px 200px;
  }
.screen {
    display: inline-block;
}
.operator {
    width: 100px;
   float: right; 
}
.numbers {
    width: 290px;
    float: left;
}
.buttonNumber{
    width: 60px;
    height: 60px;
}
.displayScreen{
    width :400px;
    height: 60px;
}
.buttonClear {
    width: 120px;
    height: 60px;
}


